* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    line-height: 1.6;
}

.logo img{
    width: 250px;
    margin: 0;
}

 .logo {
    display: flex;
    background-color: #000;
}

.logo h1 {
    margin-left: 350px;
    padding-top: 20px;
    color: #00ffaa;
}

.hero {
    background: url(img/WhatsApp\ Image\ 2026-01-17\ at\ 12.35.13\ PM\ \(3\).jpeg);
    text-align: center;
    background-size: 1400px 800px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    letter-spacing: 4px;
    padding-top: 150px;
}

.hero p {
    font-size: 1.5rem;
    text-align: justify;
}

.about-caja {
    display: flex;
    height: 300px;
    width: 100%;
    padding: 10px;
    gap: 40px;
    align-items: center;
    box-sizing: border-box;
}

.about-caja img {
    width: 300px;
    height: 300px;
}

section {
    box-sizing: border-box;
    width: 100%;  
    background-color: #000;
    margin-top: 1px;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    color: #00ffaa;
}

.imagen {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    transition: transform 0.3s;
    padding-bottom: 30px;
}

.imagen img:hover {
    transform: scale(1.1);
}

.proyectos {
    text-align: justify;
}

.proyectos ul {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 600px;
}

.proyectos a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

ul {
    list-style-position: inside;
    margin-left: 600px;
    padding-top: 30px;
}

.contacto {
    padding-top: 30px;
    padding-bottom: 20px;
} 

.logo-img {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    gap: 25px;
}

.logo-img .item {
    display: flex;
    gap: 10px;
}

.logo-img img {
    width: 30px;
    height: 30px;
}

footer {
    background: #5008;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}

p {
    padding: 30px;
}